body {
  background-image: url('/public/gifs/pokemon-emerald-title-screen-pixel-moewalls-com-ezgif.com-video-to-gif-converter.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}


body::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
}

.list-group-item {
  background-color: transparent;
}

.letraPequeña {
  font-size: 0.8rem;
}

/* ------- CARTA POKEMON --------------- */

.card-pokemon-container {
  perspective: 1000px;
  min-width: 250px;
  max-width: 320px;
  aspect-ratio: 3 / 4;
}

.card-pokemon-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-pokemon-inner.flipped {
  transform: rotateY(180deg);
}

.card-pokemon-inner .card-pokemon {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  border: 8px solid #EDCC1F !important;
  border-radius: 1rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card-pokemon-inner .card-pokemon:last-child {
  transform: rotateY(180deg);
}

.card-pokemon img {
  display: block;
  margin: auto;
  width: 80%;
  border: 4px solid #D1C54F !important;
  border-radius: 0.5rem;
  padding: 4px;
}
.card-pokemon {
  min-height: 430px; 
}

input:focus{
box-shadow: none !important;
}